# LaCale Configuration
#LA_CALE_DOMAIN=la-cale.space
# Create your apikey on https://la-cale.space/settings/api-keys
LA_CALE_API_KEY=

# Target folder for torrent files (Default: ./torrents).
#FOLDER_TORRENT_FILES=/path/to/target/folder